.about{
    height: 100vh;
    background: rgb(66,92,83);
    background: radial-gradient(circle, rgb(33, 65, 53) 0%, rgb(33, 65, 53) 100%);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about > h1 {
    text-align: center;
    padding: 5vh 0 4vh 0;
    font-size: 3rem;
}
.about-qualification{
    height: 15vh;
    width: 70%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.about-items{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
}
.about-items > spana{
    background-color: grey;
    width: 75px;
    height: 75px;
    text-emphasis: center;
    margin: 0 auto;
}

.about-mid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100%;
}

#about-left{
    width: 30vw;
}

#about-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30vw;
}

#about-right > h1{
    margin: 16px;
}

.about-logo{
    width: 150px;
    border: 1px solid white;
    margin: 0 auto;
}