.about{
    height: 100vh;
    position: relative;
}
.about > h1{
    font-size: 12rem;
    border: 1px solid black;
}

#rey-intro{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    font-size: 8rem;
    text-align: center;
    margin: 5vh 0 0 0;
}
#intro-1{
    width: 90%;
    margin-bottom: 24px;
}
#intro-2{
    width: 80%;
    justify-self: end;
    margin-bottom: 44px;
}
#intro-3{
    width: 60vw;
    justify-self: end;
    text-align: left;

}
#intro-4{
    width: 80vw;
    justify-self: end;;
}


#intro-4{
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    animation-delay: 2s;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-10px);}
  } 
  
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
} 
  
#span-false{
    display: none;
}


#reyO{
    z-index: 3;
    font-size: inherit;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    text-anchor: middle;
    background-color: white;
    border-radius: 50%;
}

.grow-o{
    /* -webkit-animation-duration: 1s; */
    animation-duration: 5s;
    animation-delay: .75s;
    animation-name: grow;
}
  
@keyframes grow { 
    from{
        font-size: 8rem;
    }
    to{
        transform: scale(80);
        /* font-size: 20rem; */
    }
} 