.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title{
    text-align: center;
    padding: 5vh 0 4vh 0;
    font-size: 3rem;
    width: 100%;
}

.mainBody{
    justify-items: center;
    align-self: center;
}