.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container > h1 {
    text-align: center;
    padding: 5vh 0 4vh 0;
    font-size: 3rem;
    width: 100%;
}