.navContainer-a{
    display: flex;
    height: 40vh;
    right: 0;
    top: 45vh;
    width: 150px;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}

#nav{   
    align-self: center;
    margin: 0 1.5rem 0 0;
    height: 30vh;
    position: relative;
    display: grid;
    grid-template-columns: 80px 20px;
    grid-template-rows: 10vh 10vh 10vh 10vh;
}
#nav > a >li {
    height: 1rem;
    width: 1rem;
    padding: 1px;
    background-color: white;
    border-radius: 2rem;
    line-height: 2rem;
    color: grey;
    margin: 3px 0 16px 0;
    list-style-type: none;
    z-index: 5;
}
#nav > a > p{
    text-align: right;
    align-self: start;
    margin-right: 6px;
}

#test{ 
    content: '';
    position: absolute;
    border-right: 1px solid grey;
    height: 1200px;
    width: 0px;
    top: 3px;
    right: 2.25rem;
    z-index: 0-1;
}