.navContainer{
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
}
.navL{
    margin: 16px;
}
.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navMenu > h1 {
    margin: 16px;
}
